

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splide {
    width: 800px;
    height: 400px;
    text-align: center;
    background-color: 
black;
    margin: 0 auto;
}

.splide__slide__container img {
    height: 400px;
    object-fit: contain;
    object-position: 50% 50%;
}

body{
  margin:50px;
   font-family: "Tropi land"; 
  color: rgb(203, 6, 187);
  background-color: lavender;
  text-align: center;
}



@font-face {
  font-family: "tropi land";
  src: local("tropi land"),
  url("font/Tropi\ Land.ttf") format(".ttf");
}

.tropi{
  font-family:"tropi land", sans-serif;
}



.onest-text{
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
} 
