
@font-face {
  font-family: "tropi land";
  src: local("tropi land"),
  url("font/Tropi\ Land.ttf") format(".ttf");
}

.tropi{
  font-family:"tropi land", sans-serif;
}



.onest-text{
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
